<div class="bs-docs-section">
<div class="row">
	<div class="col-lg-l2">
		<div class="page-header">
			<h1>Create a new article here</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-l2">
		<h1 id="newTitle">Preview</h1>
	</div>
</div>
<div class="row">
<div class="col-lg-l2">
	<div class="bs-component">
		<div class="jumbotron">
			<h2>{{title}}</h2>
			<p>{{content}}</p>
		</div>
	</div>
</div>
</div>
</div>
<br>
<div class="row">
<div class="col-lg-4">
	<h2 id="editTitle">Type new text here...</h2>
	<br>
	<form class="bs-component" {{action "save" on=submit}}>
		<div class="form-group">
			<label class="control-label" for="titleInput">Title</label>
			{{input value=title id="titleInput" class="form-control" placeholder="Title"}}
		</div>
		<div class="form-group">
			<label class="control-label" for="contentInput">Content</label>
			{{textarea value=content spellcheck=true id="contentInput" class="form-control" placeholder="Your new content here"}}
		</div>
		<button type="submit" class="btn btn-lg btn-primary">Submit</button>
	</form>
</div>
</div>